.team__about {
  padding: 50px 0;
  background-color: #f1f3f4;
}
.team-about__row {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}

.team {
  background-color: #7dba28;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}
.team .team__img {
  height: 230px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.team img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100);
  transition: 0.4s;
}
.team:hover .team__img .team__social-icons {
  transform: translate(0%, -50%);
}
.team:hover .team__img img {
  filter: grayscale(0);
}
.team .team__img .team__social-icons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 80%;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  background-color: #7dba28;
  box-shadow: 1px 1px 15px #4b4a4a;
  transition: 0.4s;
}
.team .team__img .team__social-icons a {
  width: 100%;
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  transition: 0.4s;
}
.team .team__img .team__social-icons a:hover {
  background-color: #fff;
  color: #7dba28;
}
.team {
  text-align: center;
  color: #fff;
}
.team h3 {
  padding: 10px;
}
@media (max-width: 1050px) {
  .team-about__row {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }
}
@media (max-width: 650px) {
  .team {
    padding: 10px;
    border-radius: 10px;
  }
  .team .team__img {
    border-radius: 10px;
    height: 300px;
  }
  .team .team__img .team__social-icons a {
    font-size: 20px;
  }
}
@media (max-width: 580px) {
  .team .team__img .team__social-icons {
    width: 30px;
    border-radius: 10px 0 0 10px;
  }

  .team .team__img .team__social-icons a {
    font-size: 15px;
  }
  .team h3 {
    padding: 0;
    font-size: 19px;
  }
  .team p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .team-about__row {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: space-between;
  }
  .team img {
    object-fit: cover;
    object-position: 10% 30%;
  }
  .team .team__img .team__social-icons {
    width: 40px;
    border-radius: 10px 0 0 10px;
  }
  .team {
    padding-bottom: 15px;
  }
  .team .team__img .team__social-icons a {
    font-size: 18px;
  }
  .team h3 {
    padding: 15px;
    font-size: 22px;
  }
  .team p {
    font-size: 18px;
  }
}
